* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 5rem auto;

  .border {
    width: 80vw;
    margin: 0 auto;
    background-color: cornflowerblue;
    border-radius: 5px;
    padding-left: 5rem;
  }

  h1 {
    padding: 2rem 0;
  }

  .eingabe {
    form {
      display: grid;

      gap: 1rem;
      width: 60%;

      label,
      .label {
        margin-top: 1rem;
      }

      .number-input {
        width: 75%;
      }

      .submit-button {
        width: 5rem;
        margin: 2rem 0;
      }
    }
  }

  .output {
    display: grid;
    gap: 1rem;
    width: 60%;
    padding-bottom: 3rem;

    div {
      display: flex;
      gap: 3rem;

      p {
        &:first-child {
          width: 8rem;
        }
        &:nth-child(2),
        &:nth-child(3) {
          width: 5rem;
        }
      }
    }
  }
}
